@charset "UTF-8";


body{
    background-image: linear-gradient(to top,red,purple);
    background-attachment: fixed;
}


main{
    /*border: 1px solid black;*/

    display: flex;
    flex-direction: column;
    gap: 15px;

    align-items: center;
}

section{

    background-color: white;
    border: 1px solid black;
    width: max-content;
    padding: 20px;
    border-radius: 10px;
}

form{
    background-color: rgba(127, 255, 212, 0.479);
    padding: 15px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

form > label{
    background-color: lightgray;
    width: max-content;
    padding: 5px;
    border-radius: 10px;
}

form > input[type="submit"]{
    color: white;
    padding: 20px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    background-color: lightgreen;
}